# Ignorar a pasta apache
apache/
apache_start.bat
apache_stop.bat

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.tmp


# Ignorar arquivos do MySQL
mysql/data/ib_logfile0
mysql/data/ib_logfile1
mysql/data/ibdata1
mysql/data/testlink/events.ibd
mysql/data/testlink/transactions.ibd

# Ignorar arquivos temporários
tmp/sess_*